.home__wrapper {
  background: var(--dark-green);
  margin: auto;
  padding: 100px;
  text-align: center;
  color: var(--white);
}

@media (min-width: 768px) {
  .home__wrapper {
    height: 70vh;
  }
}
.home__wrapper img {
  margin: 50px auto;
  width: 102px;
  height: 97px;
}
