.home__wrapper {
  background: var(--dark-green);
  margin: auto;
  padding: 100px;
  text-align: center;
  height: 70vh;
  color: var(--white);
}
.home__wrapper img {
  margin: 50px auto;
  width: 120px;
  height: 120px;
}
