@font-face {
  font-family: "Montserrat";
  src: url(../src/assets/font/Montserrat-Italic-VariableFont_wght.ttf);
}

:root {
  --white: #ffffff;
  --dark-green: #45a935;
  --light-green: #d4f7b5;
  --error-red: #ff6542;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Monserrat, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
